@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

html,
body {
    overflow: hidden;
    font-family: "Rajdhani",Helvetica,sans-serif;
}

:root {
    --h-padding: calc((100vw - 1440px) / 2 + 71px);
}